<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instruction_Screen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type = "text/javascript" >
     function preventBack(){window.history.forward();}
     setTimeout("preventBack()", 0);
     window.onunload=function(){null};
    </script>
</head>
<body>
    <div class="container col-md">
     <div class="main">
        <div class="col d-flex justify-content-center" >
            <div class="card" style="margin-top: 5%">
            <div class="card-header" >
              <h1 style="color: cadetblue">Instructions</h1>
             </div>
             <div class="card-body">
                <p class="card-text ">In the following task, we will provide you with information about a specific stock at a specific time. Your task is to predict the price of this stock in exactly 7 days from the time presented in the graph.</p>
                <p class="card-text ">Please complete the following steps:</p>
                <p class="card-text ">1. Based on the stock graph, please give your <strong>first prediction</strong> of the stock price in exactly 7 days from the time presented.</p>
                <p class="card-text ">2. The system will then show you a prediction of the stock price for the required day, made by an AI algorithm designed to help investors predict stock prices. Then, please give your <strong>final prediction</strong> of the stock price in exactly 7 days from the time presented. </p>
                <p class="card-text "><strong>** In making your <strong>final prediction</strong>, you can choose whether and to what extent to change your <strong>first prediction</strong>  based on the AI prediction.</strong></p>
                {% if mt_type %}
                 {% if mt_type == 1 %}
                  <p class="card-text "><strong style="color: black">You can win a prize for your performance in the experiment: the 10 participants whose <strong style="color: red">final prediction</strong> is the most accurate will receive a <strong style="color: red">$1</strong> prize each (in addition to their payment for participation).</strong></p><br>
                 {% elif mt_type==2 %}
                  <p class="card-text "><strong style="color: black">You can win a prize for your performance in the experiment: the 10 participants whose <strong style="color: red">final prediction</strong> is the most accurate will receive a <strong style="color: red">$10</strong> prize each (in addition to their payment for participation).</strong></p><br>
                  {% endif %}
                {% endif %}
                <p class="card-text ">Browsing back and forth is not possible. Therefore, please progress to the next page only when your answers are final.</p>
                <p class="card-text ">Please do not use other browsers or web pages during the task.</p>
                <p class="card-text ">At the end of this task, you will receive a verification code. Please copy the code and paste it as required in MTurk, to properly get paid for this task.</p>
             </div>
            <div class="row justify-content-center">
                <form action="/First_Prediction" method="post">
                    <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-outline-info">Next Page</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
     </div>
    </div>
</body>
</html>






