<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select_Explanation_Screen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type = "text/javascript" >
     function preventBack(){window.history.forward();}
     setTimeout("preventBack()", 0);
     window.onunload=function(){null};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
 <body>
    <div class="container">
     <div class="main">
       {% if first_selection == 1 %}
        <div class="row d-flex justify-content-center" >
            <div class="card col-md-8" style="margin-top: 5%; margin-bottom: 5%">
            <div class="card-header" >
              <h1 style="color: cadetblue">The AI prediction</h1>
              <p style="font-size: 22px" >The AI prediction of the stock's price one month from the time presented in the graph is : <strong>$226</strong> </p><br>
             </div>
              <div>
               <img style="size: A5" class="card-img-top" src="../static/Nvidia_Graph_Data.png">
              </div><br>
             <div class="card-body">
             <p class="card-text">The AI generated the following explanations for this prediction.<br> You can choose which explanation you would like to see.<br><strong>You can press continue without opening any explanation.</strong> </p>
             <div class="row justify-content-center">
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#explanation1">Long and specific</button>&nbsp;&nbsp;
               <div class="modal fade" id="explanation1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                   <div class="modal-content">
                    <div class="modal-body">
                    <form name='searchdata' id="explanation1" action="/Final_Prediction" method="post">
                        <div class="input-with-icon success-control">
                          <input type="hidden" class="form-control" id="Ex_Type" step="any" name="Ex_Type" value="Long and specific" ><br>
                          <p style="font-size: 20px" class="justify-content-center">The prediction was made by an AI algorithm trained to analyze stock graphs,
                             detect patterns, and make a financial analysis. The stock's graph indicates an uptrend starting in mid-Jun,
                             and the Fibonacci ratios indicate that the stock has been trading in the  70%-100% range in recent weeks,
                             indicating a strong position. Based on a triple-top pattern that emerged between May and September,
                             another pattern was identified near the $208 price point, indicating that the stock may experience a
                             decline before being able to break the resistance point after which the price is expected to rise to $226.</p>
                        </div>
                        <div class="row justify-content-center">
                        <button onclick="form_submit()" name='user_search' value='user' class="btn btn-outline-danger"><i class="fa fa-user"></i> Close</button>
                        </div>
                    </form>
                    </div>
                    <script type="text/javascript">
                      function form_submit() {
                      document.getElementById("explanation1").submit(); }
                    </script>
                  </div>
                 </div>
                </div>
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#explanation2">Short and specific</button>&nbsp;&nbsp;
               <div class="modal fade" id="explanation2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                   <div class="modal-content">
                    <div class="modal-body">
                    <form name='searchdata' id="explanation2" action="/Final_Prediction" method="post">
                        <div class="input-with-icon success-control">
                          <input type="hidden" class="form-control" id="Ex_Type" step="any" name="Ex_Type" value="Short and specific" ><br>
                          <p style="font-size: 20px" class="justify-content-center">Based on a triple-top pattern that emerged between May and September,
                             another pattern was identified near the $208 price point, indicating that the stock may experience a decline after which
                             the price is expected to rise to $226.</p>
                        </div>
                        <div class="row justify-content-center">
                        <button onclick="form_submit()" name='user_search' value='user' class="btn btn-outline-danger"><i class="fa fa-user"></i> Close</button>
                        </div>
                    </form>
                    </div>
                    <script type="text/javascript">
                      function form_submit() {
                      document.getElementById("explanation2").submit(); }
                    </script>
                  </div>
                 </div>
                </div>
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#explanation3">Long and general</button>&nbsp;&nbsp;
               <div class="modal fade" id="explanation3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog " role="document">
                   <div class="modal-content">
                    <div class="modal-body">
                    <form name='searchdata' id="explanation3" action="/Final_Prediction" method="post">
                        <div class="input-with-icon success-control">
                          <input type="hidden" class="form-control" id="Ex_Type" step="any" name="Ex_Type" value="Long and general" ><br>
                          <p style="font-size: 20px" class="justify-content-center">Stock market prediction is the act of trying to determine the future value of a
                             company stock or other financial instrument traded on an exchange. The successful prediction of a stock's future
                             price could yield significant profit. The efficient-market hypothesis suggests that stock prices reflect all
                             currently available information and any price changes that are not based on newly revealed information thus
                             are inherently unpredictable. Others believe they have methods and technologies which purportedly allow them
                             to gain future price information. Therefore, the optimal prediction for the stock price is $226 per share.</p>
                        </div>
                        <div class="row justify-content-center">
                        <button onclick="form_submit()" name='user_search' value='user' class="btn btn-outline-danger"><i class="fa fa-user"></i> Close</button>
                        </div>
                    </form>
                    </div>
                    <script type="text/javascript">
                      function form_submit() {
                      document.getElementById("explanation2").submit(); }
                    </script>
                  </div>
                 </div>
                </div>
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#explanation4">Short and general</button>
               <div class="modal fade" id="explanation4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                   <div class="modal-content">
                    <div class="modal-body">
                    <form name='searchdata' id="explanation4" action="/Final_Prediction" method="post">
                        <div class="input-with-icon success-control">
                          <input type="hidden" class="form-control" id="Ex_Type" step="any" name="Ex_Type" value="Short and general" ><br>
                          <p style="font-size: 20px" class="justify-content-center">Stock market prediction is the act of trying to determine the future value of a company stock or other
                             financial instrument traded on an exchange. Therefore, the optimal prediction for the stock price is
                             $226 per share.</p>
                        </div>
                        <div class="row justify-content-center">
                        <button onclick="form_submit()" name='user_search' value='user' class="btn btn-outline-danger"><i class="fa fa-user"></i> Close</button>
                        </div>
                    </form>
                    </div>
                    <script type="text/javascript">
                      function form_submit() {
                      document.getElementById("explanation2").submit(); }
                    </script>
                  </div>
                 </div>
                </div>
            </div>
            </div>
            <div class="row justify-content-center">
            <div class="card-footer bg-transparent">
                <form name='searchdata' id="explanation1" action="/Final_Prediction" method="post">
                  <button type="submit" name='Next_Page' class="btn btn-outline-danger" ><i class="fa fa-user"></i> Continue</button>
                </form>
            </div>
            </div>
            </div>
        </div>
       {% endif %}
       {% if first_selection == 2 %}
        <div class="row d-flex justify-content-center" >
            <div class="card col-md-8" style="margin-top: 5%; margin-bottom: 5%">
            <div class="card-header" >
              <h1 style="color: cadetblue">The AI prediction</h1>
              <p style="font-size: 22px" >The AI prediction of the stock's price one month from the time presented in the graph is : <strong>$226</strong> </p><br>
             </div>
              <div>
               <img style="size: A5" class="card-img-top" src="../static/Nvidia_Graph_Data.png">
              </div><br>
             <div class="card-body">
             {% if second_selection == 1 %}
               {% if second_selection != 4 %}
               <p class="card-text">The AI generated the following explanation for this prediction.<br> You can choose if you would like to see it.<br><strong>You can press continue without opening the explanation.</strong> </p><br>
               {% endif %}
               <div class="row justify-content-center">
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#explanation1">AI Explanation</button>&nbsp;&nbsp;
               <div class="modal fade" id="explanation1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                   <div class="modal-content">
                    <div class="modal-body">
                    <form name='searchdata' id="explanation1" action="/Final_Prediction" method="post">
                        <div class="input-with-icon success-control">
                          <input type="hidden" class="form-control" id="Ex_Type" step="any" name="Ex_Type" value="Long and specific" ><br>
                          <p style="font-size: 20px" class="justify-content-center">The prediction was made by an AI algorithm trained to analyze stock graphs,
                             detect patterns, and make a financial analysis. The stock's graph indicates an uptrend starting in mid-Jun,
                             and the Fibonacci ratios indicate that the stock has been trading in the  70%-100% range in recent weeks,
                             indicating a strong position. Based on a triple-top pattern that emerged between May and September,
                             another pattern was identified near the $208 price point, indicating that the stock may experience a
                             decline before being able to break the resistance point after which the price is expected to rise to $226.</p>
                        </div>
                        <div class="row justify-content-center">
                        <button onclick="form_submit()" name='user_search' value='user' class="btn btn-outline-danger"><i class="fa fa-user"></i> Close</button>
                        </div>
                    </form>
                    </div>
                    <script type="text/javascript">
                      function form_submit() {
                      document.getElementById("explanation1").submit(); }
                    </script>
                  </div>
                 </div>
                </div>
             {% elif second_selection==2 %}
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#explanation2">AI Explanation</button>&nbsp;&nbsp;
               <div class="modal fade" id="explanation2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                   <div class="modal-content">
                    <div class="modal-body">
                    <form name='searchdata' id="explanation2" action="/Final_Prediction" method="post">
                        <div class="input-with-icon success-control">
                          <input type="hidden" class="form-control" id="Ex_Type" step="any" name="Ex_Type" value="Short and specific" ><br>
                          <p style="font-size: 20px" class="justify-content-center">Based on a triple-top pattern that emerged between May and September,
                             another pattern was identified near the $208 price point, indicating that the stock may experience a decline after which
                             the price is expected to rise to $226.</p>
                        </div>
                        <div class="row justify-content-center">
                        <button onclick="form_submit()" name='user_search' value='user' class="btn btn-outline-danger"><i class="fa fa-user"></i> Close</button>
                        </div>
                    </form>
                    </div>
                    <script type="text/javascript">
                      function form_submit() {
                      document.getElementById("explanation2").submit(); }
                    </script>
                  </div>
                 </div>
                </div>
             {% elif second_selection==3 %}
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#explanation3">AI Explanation</button>&nbsp;&nbsp;
               <div class="modal fade" id="explanation3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog " role="document">
                   <div class="modal-content">
                    <div class="modal-body">
                    <form name='searchdata' id="explanation3" action="/Final_Prediction" method="post">
                        <div class="input-with-icon success-control">
                          <input type="hidden" class="form-control" id="Ex_Type" step="any" name="Ex_Type" value="Long and general" ><br>
                          <p style="font-size: 20px" class="justify-content-center">Stock market prediction is the act of trying to determine the future value of a
                             company stock or other financial instrument traded on an exchange. The successful prediction of a stock's future
                             price could yield significant profit. The efficient-market hypothesis suggests that stock prices reflect all
                             currently available information and any price changes that are not based on newly revealed information thus
                             are inherently unpredictable. Others believe they have methods and technologies which purportedly allow them
                             to gain future price information. Therefore, the optimal prediction for the stock price is $226 per share.</p>
                        </div>
                        <div class="row justify-content-center">
                        <button onclick="form_submit()" name='user_search' value='user' class="btn btn-outline-danger"><i class="fa fa-user"></i> Close</button>
                        </div>
                    </form>
                    </div>
                    <script type="text/javascript">
                      function form_submit() {
                      document.getElementById("explanation2").submit(); }
                    </script>
                  </div>
                 </div>
                </div>
             {% elif second_selection==4 %}
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#explanation4">AI Explanation</button>
               <div class="modal fade" id="explanation4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                   <div class="modal-content">
                    <div class="modal-body">
                    <form name='searchdata' id="explanation4" action="/Final_Prediction" method="post">
                        <div class="input-with-icon success-control">
                          <input type="hidden" class="form-control" id="Ex_Type" step="any" name="Ex_Type" value="Short and general" ><br>
                          <p style="font-size: 20px" class="justify-content-center">Stock market prediction is the act of trying to determine the future value of a company stock or other
                             financial instrument traded on an exchange. Therefore, the optimal prediction for the stock price is
                             $226 per share.</p>
                        </div>
                        <div class="row justify-content-center">
                        <button onclick="form_submit()" name='user_search' value='user' class="btn btn-outline-danger"><i class="fa fa-user"></i> Close</button>
                        </div>
                    </form>
                    </div>
                    <script type="text/javascript">
                      function form_submit() {
                      document.getElementById("explanation2").submit(); }
                    </script>
                  </div>
                 </div>
                </div>
             {% else %}
             {% endif %}
           # </div>
            </div>
            <div class="row justify-content-center">
            <div class="card-footer bg-transparent">
                <form name='searchdata' id="explanation1" action="/Final_Prediction" method="post">
                  <button type="submit" name='Next_Page' class="btn btn-outline-danger"><i class="fa fa-user"></i> Continue</button>
                </form>
            </div>
            </div>
            </div>
        </div>
       {% endif %}
     </div>
    </div>
</body>
</html>


